*, *::before, *::after {
    box-sizing: border-box;
  }

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.big-container {
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr 6fr;
    height: 150vh;
    width: 100%;
}

.header {
    height: 15vh;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    z-index: 1;
}